---
import Base from '../layouts/Base.astro';
---

<Base
  title="Offentlig fagdag 2026"
  ogTitle="Offentlig fagdag 2026"
  ogDescription="Konferansen for teknologer i offentlig sektor"
  activeNav="about"
  bodyColorScheme="auto"
>
  <main class="about-page">
    <div class="fixed-width hero">
      <icon-katteskjerm></icon-katteskjerm>
      <h1 class="ds-heading" data-size="xl">Om Offentlig fagdag 2026</h1>
    </div>
    <div id="about" class="ds-card fixed-width about-article">
      <h2 class="ds-heading">Hva og hvorfor?</h2>
      <p class="ds-paragraph">
        Konferanser er dyrt, budsjettene er stramme og kunnskap er ferskvare. Vi har mye kompetanse i det offentlige,
        men det er ikke alltid like enkelt å finne den - spesielt ikke på tvers av organisasjoner. Vi inviterer derfor
        til en fagdag på tvers av organisasjoner hvor vi kan dele og lære sammen - og spille på de fagnettverkene vi har.
      </p>
      <h2 class="ds-heading">Innhold</h2>
      <p class="ds-paragraph">
        Fagdagen springer ut av fagnettverkene Offentlig Frontend, Offentlig PaaS og Security Champions Norge, og det
        faglige innholdet vil i hovedsak falle innunder (men ikke begrenses til) disse områdene. Vi legger opp til en
        dag med høyt faglig innhold, nettverksbygging og gode diskusjoner. Det blir en konferanse med flere spor og
        innhold og noe for enhver smak. Så om du jobber med UX, plattform, sikkerhet, frontend, backend eller
        produktutvikling generelt så bli med på dag av og for nerder i det offentlige!
        Hvis du trenger inspirasjon til et foredrag kan du jo feks ta en titt på
      </p><a class="ds-link" href="https://sites.google.com/view/offentligfagdag25">fjorårets program</a>.
      <h2 class="ds-heading">Hvor og når?</h2>
      <p class="ds-paragraph">
        I fjor ble Oslo Event Hub fylt opp med 300 teknologer til urpremieren av "Offentlig Fagdag". I år har vi sikret
        oss inntil 500 plasser når andre utgave av arrangementet går av stabelen 23. april på Meet Ullevål.
      </p>
      <h2 class="ds-heading">Hvem står bak?</h2>
      <p>
        Bak arrangementet står frivillige ildsjeler fra Nav, Politiet, Meteorologisk institutt, Skatteetaten, Oslo
        kommune og Digitaliseringsdirektoratet. En gjeng som mener det offentlige gjør mye kult som fortjener å deles.
      </p>
      <h2 class="ds-heading">Påmelding og fakturering</h2>
      <p class="ds-paragraph">
        Påmelding skjer ved at hver offentlige etat gjør en gruppepåmelding med hvor mange plasser de ønsker. Antall
        plasser er bindende og en samlet faktura vil bli sendt basert på gruppepåmeldingen. Pris er 1200,- eks mva per
        person. Det er fullt mulig å melde på flere grupper fra en virksomhet hvis man ønsker flere fakturaer, men av
        praktiske hensyn ønsker vi så få fakturaer som mulig. Når det nærmer seg vil det komme en påmeldingsside hvor
        enkeltpersoner fra virksomhetene registrerer seg mot den kvoten de har fått fra gruppepåmeldingen. I fjor ble
        plassene fylt opp fort, og vi ønsker at flest mulig virksomheter skal få mulighet til å delta. Vi kan derfor
        ikke love at man får like mange plasser som man ønsker, men vi kan love en rettferdig fordeling.
      </p>
      <h2 class="ds-heading">Videopptak</h2>
      <p class="ds-paragraph">
        Det blir videopptak av foredragene som vil bli gjort tilgjengelig i etterkant av konferansen.
      </p>
    </div>
  </main>

  <script is:inline src="/animations.js" defer slot="scripts"></script>
</Base>
