<footer data-color-scheme="dark">
  <div class="fixed-width information">
    <div>
      <div class="off-banner" data-color-scheme="light">
        <span data-size="xs" class="off-logo">[OFF]</span>
      </div>
      <p data-size="sm">2026 Offentlig fagdag. Laget med ❤️ av frivillige i offentlig sektor.</p>
    </div>
    <icon-kattekopp aria-label="ikon av en kattekopp"></icon-kattekopp>
  </div>
</footer>
